
.env
.env.*
!/.env.example  


.git
.gitignore


.venv/
venv/
env/
*.pyc
__pycache__/


.vscode/
.idea/


Dockerfile
.dockerignore


.pytest_cache/
.coverage
htmlcov/
build/
dist/

# 7. Fichiers du système d'exploitation
# Fichiers de métadonnées créés par macOS et Windows.
.DS_Store
Thumbs.db
